.form{
    &__btns{
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin: 1rem auto .5rem auto;
    }

    .btn--cancel{
        background-color: #F2234C;
    }

    .btn--cancel:hover{
        background-color: #CC1D40;
    }
}