.form__label {
    display: block;
    width: 75%;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: bold;
    
    input,
    textarea {
        box-sizing: border-box;
        display: block;
        width: 100%;
        margin: .5rem 0;
        padding: .3rem;
        border: 1px solid #353535;
        border-radius: 5px;
        color: #353535;
    }

    input:focus,
    textarea:focus {
        outline-color: #035354;
    }
}