table{
    background-color: #F1FFFF;
    max-width: 900px;
    max-height: 65vh;
    display: inline-block;
    box-shadow: -1px 2px 5px #353535;
    padding: 1rem;
    line-height: 2;

    overflow: auto;

    border-spacing: 10rem;
    border-collapse: collapse;

    #marca{
        width: 10%;
    }

    #ano{
        width: 10%;
    }

    #placa{
        width: 10%;
    }

    #obs{
        width: 20%;
    }
    
    th, td {
        max-width: 200px;
        word-wrap: break-word;
        padding: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: #448B8C;
    }
    
    
    caption{
        font-weight: bolder;
        font-size: 1.5rem;
        padding: .5rem 0 1rem;
    }
}


.table{
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
    .btn-primary{
        margin-top: 1rem;
    }
}


